In [ ]:
import datatable as dt

DT4 = dt.fread("Taxi_Trips_-_2019.csv")

In [ ]:
DT4 = DT4[0:-1,[2,4,5,8,9,16]]
DT4

In [ ]:
DT4.to_csv("temp.csv")

In [ ]:
import csv

with open('temp.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1=row
        else:
            if(row[2] != '' and float(row[2]) >= 0.5 and float(row[2]) <= 100):
                lines+=[row]
        line_count += 1
    print(f'Processed {line_count} lines.')

In [ ]:
filename = 'mileschanged.csv'
with open(filename, 'w') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [ ]:
DT = dt.fread("mileschanged.csv")

In [ ]:
DT

In [2]:
import csv

with open('mileschanged.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1=row
        else:
            if(row):
                if(row[1] != '' and int(row[1]) >= 60 and int(row[1]) <= 18000):
                    lines+=[row]
        line_count += 1
    print(f'Processed {line_count} lines.')

Processed 25731006 lines.

In [4]:
filename = 'trip_time_change.csv'
with open(filename, 'w') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [6]:
import datatable as dt
DT = dt.fread("trip_time_change.csv")

In [13]:
import csv

with open('trip_time_change.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1=row
        else:
            if(row):
                if(row[3] and row[4]):
                    lines+=[row]
        line_count += 1
    print(f'Processed {line_count} lines.')

Processed 25689334 lines.

In [15]:
filename = 'startandendinchi.csv'
with open(filename, 'w') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [16]:
import datatable as dt
DT = dt.fread("startandendinchi.csv")
DT

In [17]:
import csv

with open('startandendinchi.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1=row
        else:
            if(row):
                lines+=[row]
        line_count += 1
    print(f'Processed {line_count} lines.')

Processed 22796012 lines.

In [18]:
filename = 'startandendinchi_n.csv'
with open(filename, 'w',newline='') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [2]:
import datatable as dt
DT = dt.fread("startandendinchi.csv")
DT

In [5]:
compnames = set(DT['Company'].to_list()[0])

In [74]:
dic = {'2733 - 74600 Benny Jona': 'Benny Jona',
 'Setare Inc': 'Setare',
 'Blue Diamond': 'Blue Diamond',
 '1085 - 72312 N and W Cab Co':'N and W Cab',
 'Leonard Cab Co': 'Leonard Cab',
 'City Service': 'City Svc.',
 'American United Taxi Affiliation': 'American United Taxi',
 'Chicago Star Taxicab': 'Chicago Star Taxicab',
 '3721 - Santamaria Express, Alvaro Santamaria': 'Santamaria Express',
 'Star North Management LLC': 'Star North Mgmt.',
 'Taxicab Insurance Agency, LLC': 'Taxicab Ins. Agcy.',
 'Top Cab Affiliation': 'Top Cab Aff.',
 '5874 - 73628 Sergey Cab Corp.': 'Sergey Cab',
 'Flash Cab': 'Flash Cab',
 'Petani Cab Corp': 'Petani Cab',
 'KOAM Taxi Association': 'KOAM Taxi',
 'Checker Taxi Affiliation': 'Checker Taxi',
 '3094 - 24059 G.L.B. Cab Co': 'G.L.B. Cab',
 '3556 - 36214 RC Andrews Cab': 'RC Andrews Cab',
 'U Taxicab': 'U Taxicab',
 'Taxi Affiliation Services': 'Taxi Aff. Svcs.',
 '5006 - 39261 Salifu Bawa': 'Salifu Bawa',
 'Sun Taxi': 'Sun Taxi',
 'American United': 'American United',
 'Gold Coast Taxi': 'Gold Coast Taxi',
 '3591 - 63480 Chuks Cab': 'Chuks Cab',
 '4053 - 40193 Adwar H. Nikola': 'Adwar H. Nikola',
 '3011 - 66308 JBL Cab Inc.': 'JBL Cab.',
 'Blue Ribbon Taxi Association Inc.': 'Blue Ribbon Taxi',
 '3620 - 52292 David K. Cab Corp.': 'David K. Cab',
 'Chicago Medallion Management': 'Chicago Medallion Mgmt.',
 '1469 - 64126 Omar Jada': 'Omar Jada',
 'Yellow Cab': 'Yellow Cab',
 '6742 - 83735 Tasha ride inc': 'Tasha ride',
 '24 Seven Taxi': '24 Seven Taxi',
 'Metro Jet Taxi A': 'Metro Jet Taxi A',
 '2092 - 61288 Sbeih company': 'Sbeih',
 '5062 - 34841 Sam Mestas': 'Sam Mestas',
 '6574 - Babylon Express Inc.': 'Babylon Express',
 'Patriot Taxi Dba Peace Taxi Associat': 'Patriot Taxi Dba Peace Taxi',
 'Checker Taxi': 'Checker Taxi',
 '5074 - 54002 Ahzmi Inc': 'Ahzmi',
 'Chicago Taxicab': 'Chicago Taxicab',
 'Globe Taxi': 'Globe Taxi',
 '6743 - 78771 Luhak Corp': 'Luhak',
 'Nova Taxi Affiliation Llc': 'Nova Taxi',
 '4623 - 27290 Jay Kim': 'Jay Kim',
 '3623 - 72222 Arrington Enterprises': 'Arrington Ent.',
 '5 Star Taxi': '5 Star Taxi',
 '312 Medallion Management Corp': '312 Medallion Mgmt.',
 'Choice Taxi Association': 'Choice Taxi',
 'Chicago Carriage Cab Corp': 'Chicago Carriage Cab',
 'Chicago Independents': 'Chicago Ind.',
 'Medallion Leasin': 'Medallion Leasin',
 'Taxi Affiliation Service Yellow': 'Taxi Aff. Svc. Yellow'}
# for c  in compnames:
#     dic[c] = num
#     num += 1
# dic

In [75]:
import csv

with open('startandendinchi.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1=row
        else:
            if(row):
                row[5] = dic[row[5]]
                lines+=[row]
        line_count += 1
    print(f'Processed {line_count} lines.')

Processed 22796012 lines.

In [76]:
filename = 'compNum.csv'
with open(filename, 'w',newline='') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [2]:
import datatable as dt
DT = dt.fread("compNum.csv")
DT
# remove 6 chars from time stamp, manually chang ecompnay names

In [3]:
m2 = DT[0,0][0:5] + DT[0,0][10:13] + DT[0,0][-3:] 

from datetime import datetime
# m2 = '1:35 PM'
in_time = datetime.strptime(m2, "%M/%d %I %p")
out_time = datetime.strftime(in_time, "%M/%d %H")
print(out_time)

01/01 00

In [4]:
import csv

with open('compNum.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1= row + ['Hour']
        else:
            if(row):
                date = row[0][0:5] + row[0][10:13] + row[0][-3:]
                in_time = datetime.strptime(date, "%M/%d %I %p")
                out_time = datetime.strftime(in_time, "%M/%d %H")
                li = out_time.split(' ')
                row[0] = li[0]
                row += [li[1]]
                lines+=[row]
        if(line_count % 100000 == 0):
            print(line_count)
        line_count += 1
    print(f'Processed {line_count} lines.')

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
Processed 11398006 lines.

In [5]:
filename = 'timesmall.csv'
with open(filename, 'w',newline='') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [6]:
import datatable as dt
DT = dt.fread("timesmall.csv")
DT

In [7]:
import csv

with open('timesmall.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    line1 = None
    lines = []
    for row in csv_reader:
        if(line_count == 0):
            line1= row
        else:
            if(row):
                li = row[0].split('/')
                row[0] = '2019'+li[0]+li[1]
                lines+=[row]
        if(line_count % 100000 == 0):
            print(line_count)
        line_count += 1
    print(f'Processed {line_count} lines.')

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000
6600000
6700000
6800000
6900000
7000000
7100000
7200000
7300000
7400000
7500000
7600000
7700000
7800000
7900000
8000000
8100000
8200000
8300000
8400000
8500000
8600000
8700000
8800000
8900000
9000000
9100000
9200000
9300000
9400000
9500000
9600000
9700000
9800000
9900000
10000000
10100000
10200000
10300000
10400000
10500000
10600000
10700000
10800000
10900000
11000000
11100000
11200000
11300000
Processed 11398006 lines.

In [ ]:
filename = 'updatedate.csv'
with open(filename, 'w',newline='') as csvfile:
    csvwriter = csv.writer(csvfile) 
    csvwriter.writerow(line1)
    csvwriter.writerows(lines)

In [ ]:
import datatable as dt
DT = dt.fread("updatedate.csv")
DT

 split -l 760000 timesmall.csv data_split_